[Unit]
Description={{ .Description }}
{{- range .After }}
After={{ . }}
{{ end }}

[Service]
Type=simple
User={{ .User }}
Group={{ .Group }}
#EnvironmentFile=-{{ .Env }}
ExecStart={{ .Run }}
Restart=always

# When stopping, how long to wait before giving up and sending SIGKILL?
# Keep in mind that SIGKILL on a process can cause data loss.
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
