[Unit]
Description=Advertise ourselves as nexus.local 
After=network.target

[Service]
Type=simple
ExecStart=
ip --json route | jq -r '.[] | select(.dst == "default") | .prefsrc'
avahi-publish -R -a mgmt.local 192.168.12.100

[Install]
WantedBy=multi-user.target
